{% extends 'base.html.twig' %}

{% block title %} Noticias Presidenciales {% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Noticias</h1>
    </div>
    <button>
        <a href={{ path('crear_entrada')}}>crear</a>
    </button></br></br>
    <div>
        <li>{% for noticia in noticias %}
            <ul><h3>{{ noticia.titulo }}</h3></ul>
        {% endfor %}</li>
        <li>{% for noticia in noticias %}
            <ul><h2>{{ noticia.titulo }}</h2></ul>
            <ul><h4>{{ noticia.subtitulo }}</h4></ul>
            <ul><img src="{{ asset('images/') }}{{ noticia.imagen }}" width="400" height="200"></ul>
            <ul>{{ noticia.autor }} / {{ noticia.fechaCreacion|date("m/d/Y") }}</ul>
            <ul><h4>{{ noticia.descripcion }}<h4></ul>
            <a href="{{ path('ver_noticia',  { 'id': noticia.id })}}">ver</a>
            <a href="{{ path('update_noticia', { 'id': noticia.id })}}">editar</a>
            </br></br>
        {% endfor %}</li>
    </div>

{%  endblock %}