{% extends 'base.html.twig' %}

{% block title %} Noticias Presidenciales {% endblock %}

{% block body %}

    <div class="example-wrapper">
        <h1>Noticias</h1>
    </div>
    <button>
        <a href={{ path('crear_entrada')}}>crear</a>
    </button></br></br>
    <div>
        <li>{% for noticia in noticias %}
            <ul><a href="#">{{ noticia.titulo }}</a></ul>
        {% endfor %}</li>
        <li>{% for noticia in noticias %}
            <ul>{{ noticia.titulo }}</ul>
            <ul><img src="{{ asset('images/') }}{{ noticia.imagen }}" width="400" height="200"></ul>
            <ul>{{ noticia.autor }} / {{ noticia.fechaCreacion|date("m/d/Y") }}</ul>
            <ul>{{ noticia.descripcion }}</ul>
            <a href="#">ver</a>
            <a href="#">editar</a>
        {% endfor %}</li>
    </div>

{%  endblock %}